---
import ctgCorneal from "../assets/Productos/cornea.png";
import ctgcuchillosSeguridad from "../assets/Productos/cuchillos_seguridad.png";
import ctgcuchillosHojas from "../assets/Productos/cuchillos_hojas.png";
import ctgrefractivo from "../assets/Productos/refractivo.png";
import ctgvitreoretinal from "../assets/Productos/vitreoretinal.png";
import ctgoculoplasia from "../assets/Productos/oculoplasia.png";
import ctgaccesorios from "../assets/Productos/accesorios.png";
import ctgcanulas from "../assets/Productos/canulas.png";
import ctgotorrinolaringologia from "../assets/Productos/otorrinolaringologia.png";
import ctgquirurgico from "../assets/Productos/quirurgico.png";
import ctgdental from "../assets/Productos/dental.png";
---

<!----
<div class="">
    
    <section class="w-full grid grid-cols-2">
        <div class="flex justify-center bg-[#181818]">
            <img src={concentradorOxigeno.src} alt="">
        </div>
        <div class="w-full flex justify-center bg-[#000]">
            <div class="w-[70%] flex flex-col justify-center gap-6 text-right">
                <h3 class="text-4xl text-[#fff] ">Concentrador de Oxígeno</h3>
                <p class="text-[#B6B6B6] ">Concentrador de  Oxígeno marca Oliva, 10 litros por minuto, despacho a Lima y Provincia</p>
                <div class="mt-6">
                    <a href="" class="bg-[#fff] text-[#000] py-3 px-10 rounded-full hover:bg-[#fb6a1a] hover:text-[#fff]">More Info</a>
                </div>
            </div>
        </div>
    </section>
    <section class="w-full grid grid-cols-2">
        <div class="w-full flex justify-center bg-[#000]">
            <div class="w-[70%] flex flex-col justify-center gap-6 text-left">
                <h3 class="text-4xl text-[#fff] ">Concentrador de Oxígeno</h3>
                <p class="text-[#B6B6B6] ">Concentrador de  Oxígeno marca Oliva, 10 litros por minuto, despacho a Lima y Provincia</p>
                <div class="mt-6">
                    <a href="" class="bg-[#fff] text-[#000] py-3 px-10 rounded-full hover:bg-[#fb6a1a] hover:text-[#fff]">More Info</a>
                </div>
            </div>
        </div>
        <div class="flex justify-center bg-[#181818]">
            <img src={concentradorOxigeno.src} alt="">
        </div>
    </section>
    <section class="w-full grid grid-cols-2">
        <div class="flex justify-center bg-[#181818]">
            <img src={concentradorOxigeno.src} alt="">
        </div>
        <div class="w-full flex justify-center bg-[#000]">
            <div class="w-[70%] flex flex-col justify-center gap-6 text-right">
                <h3 class="text-4xl text-[#fff] ">Concentrador de Oxígeno</h3>
                <p class="text-[#B6B6B6] ">Concentrador de  Oxígeno marca Oliva, 10 litros por minuto, despacho a Lima y Provincia</p>
                <div class="mt-6">
                    <a href="" class="bg-[#fff] text-[#000] py-3 px-10 rounded-full hover:bg-[#fb6a1a] hover:text-[#fff]">More Info</a>
                </div>
            </div>
        </div>
    </section>
    <section class="w-full grid grid-cols-2">
        <div class="w-full flex justify-center bg-[#000]">
            <div class="w-[70%] flex flex-col justify-center gap-6 text-left">
                <h3 class="text-4xl text-[#fff] ">Concentrador de Oxígeno</h3>
                <p class="text-[#B6B6B6] ">Concentrador de  Oxígeno marca Oliva, 10 litros por minuto, despacho a Lima y Provincia</p>
                <div class="mt-6">
                    <a href="" class="bg-[#fff] text-[#000] py-3 px-10 rounded-full hover:bg-[#fb6a1a] hover:text-[#fff]">More Info</a>
                </div>
            </div>
        </div>
        <div class="flex justify-center bg-[#181818]">
            <img src={concentradorOxigeno.src} alt="">
        </div>
    </section>
</div>
    -->

<section id="ctg-productos" class="w-full flex flex-col gap-6 bg-[#000] my-8 lg:mt-10">
    <div class="w-full text-[#fff] flex justify-center">
        <h2 class="text-2xl border-b-2 border-[#282828] w-[90%] lg:w-[84%]">Nuestros Productos</h2>
    </div>
    
    <div class="w-full lg:gap-4 gap-3 flex justify-center flex-wrap text-[#000]  text-lg">
        <a href="" class="flex flex-col items-center border border-[#282828] lg:w-[20%] w-[45%] rounded-[4px] overflow-hidden">
            <div class="bg-[#ff6a02] w-full text-center py-1">
                <h3>Córnea</h3>
            </div>
            <div class="w-full bg-[#fff] flex justify-center hover:bg-[#ff6b02] hover:opacity-85 transition-colors duration-300">
                <img src={ctgCorneal.src} alt="" class="w-full">
            </div>
        </a>
         
        <a href="" class="flex flex-col items-center border border-[#282828] lg:w-[20%] w-[45%] rounded-[4px] overflow-hidden">
            <div class="bg-[#ff6a02] w-full text-center py-1">
                <h3>Dental</h3>
            </div>
            <div class="w-full bg-[#fff] flex justify-center hover:bg-[#ff6a02] hover:opacity-85 transition-colors duration-300">
                <img src={ctgdental.src} alt="" class="w-full">
            </div>
        </a>
        
        <a href="" class="flex flex-col items-center border border-[#282828] lg:w-[20%] w-[45%] rounded-[4px] overflow-hidden">
            <div class="bg-[#ff6a02] w-full text-center py-1">
                <h3>Cuchillos y Hojas</h3>
            </div>
            <div class="w-full bg-[#fff] flex justify-center hover:bg-[#ff6a02] hover:opacity-85 transition-colors duration-300">
                <img src={ctgcuchillosHojas.src} alt="" class="w-full">
            </div>
        </a>
        
        <a href="" class="flex flex-col items-center border border-[#282828] lg:w-[20%] w-[45%] rounded-[4px] overflow-hidden">
            <div class="bg-[#ff6a02] w-full text-center py-1">
                <h3 >Refractivo</h3>
            </div>
            <div class="w-full bg-[#fff] flex justify-center hover:bg-[#ff6a02] hover:opacity-85 transition-colors duration-300">
                <img src={ctgrefractivo.src} alt="" class="w-full">
            </div>
        </a>
        
        <a href="" class="flex flex-col items-center border border-[#282828] lg:w-[20%] w-[45%] rounded-[4px] overflow-hidden">
            <div class="bg-[#ff6a02] w-full text-center py-1">
                <h3 >Vítreorretinal</h3>
            </div>
            <div class="w-full bg-[#fff] flex justify-center hover:bg-[#ff6a02] hover:opacity-85 transition-colors duration-300">
                <img src={ctgvitreoretinal.src} alt="" class="w-full">
            </div>
        </a>
        
        <a href="" class="flex flex-col items-center border border-[#282828] lg:w-[20%] w-[45%] rounded-[4px] overflow-hidden">
            <div class="bg-[#ff6a02] w-full text-center py-1">
                <h3 >Oculoplasia</h3>
            </div>
            <div class="w-full bg-[#fff] flex justify-center hover:bg-[#ff6a02] hover:opacity-85 transition-colors duration-300">
                <img src={ctgoculoplasia.src} alt="" class="w-full">
            </div>
        </a>
        
        <a href="" class="flex flex-col items-center border border-[#282828] lg:w-[20%] w-[45%] rounded-[4px] overflow-hidden">
            <div class="bg-[#ff6a02] w-full text-center py-1">
                <h3 >Accesorios</h3>
            </div>
            <div class="w-full bg-[#fff] flex justify-center hover:bg-[#ff6a02] hover:opacity-85 transition-colors duration-300">
                <img src={ctgaccesorios.src} alt="" class="w-full">
            </div>
        </a>
    
        <a href="" class="flex flex-col items-center border border-[#282828] lg:w-[20%] w-[45%] rounded-[4px] overflow-hidden">
            <div class="bg-[#ff6a02] w-full text-center py-1">
                <h3 >Cánulas</h3>
            </div>
            <div class="w-full bg-[#fff] flex justify-center hover:bg-[#ff6a02] hover:opacity-85 transition-colors duration-300">
                <img src={ctgcanulas.src} alt="" class="w-full">
            </div>
        </a>
        
        <a href="" class="flex flex-col items-center border border-[#282828] lg:w-[20%] w-[45%] rounded-[4px] overflow-hidden">
            <div class="bg-[#ff6a02] w-full text-center py-1">
                <h3 >Otorrinolaringología</h3>
            </div>
            <div class="w-full bg-[#fff] flex justify-center hover:bg-[#ff6a02] hover:opacity-85 transition-colors duration-300">
                <img src={ctgotorrinolaringologia.src} alt="" class="w-full">
            </div>
        </a>
        
        <a href="" class="flex flex-col items-center border border-[#282828] lg:w-[20%] w-[45%] rounded-[4px] overflow-hidden">
            <div class="bg-[#ff6a02] w-full text-center py-1">
                <h3 >Quirúrgico</h3>
            </div>
            <div class="w-full bg-[#fff] flex justify-center hover:bg-[#ff6a02] hover:opacity-85 transition-colors duration-300">
                <img src={ctgquirurgico.src} alt="" class="w-full">
            </div>
        </a>
        
        <a href="" class="flex flex-col items-center border border-[#282828] lg:w-[20%] w-[45%] rounded-[4px] overflow-hidden">
            <div class="bg-[#ff6a02] w-full text-center py-1">
                <h3 class="">Cuchillos de Seguridad</h3>
            </div>
            <div class="w-full bg-[#fff] flex justify-center hover:bg-[#ff6a02] hover:opacity-85 transition-colors duration-300">
                <img src={ctgcuchillosSeguridad.src} alt="" class="w-full">
            </div>
        </a>
    </div>
    
    
</section>